html, body, table, td {
height : 100%;
width : 100%;
margin : 0;
padding : 0;
background-color : snow;
color : black;
}

header {
height : 40px;
width : 100%;
background-color : black;
text-align:center;
display: flex; /* contexte sur le parent */
flex-direction: column; /* direction d'affichage verticale */
justify-content: center; /* alignement vertical */
position: sticky;
z-index: 5;
top:0px;
}

#head {

font-size: calc(2.5vmin);

display: inline;
list-style-type:none;
color: white;
}

#right {
font-size:calc(2.5vmin);
width: 25px;
height: 25px;
display: inline;
list-style-type:none;
color: white;
text-align: right;
position: absolute;
right: 5%;
}


#arriere {
position: static;
width: 100%;
height: 80%;
}

#arriere_2 {
text-align: center;
position: static;
height : 70%;
width : 70%;

}

#devant {
position : relative;
top:-70%;
text-align:center;
font-size: calc(2.5vmin);
color : black;
}

h1{
font-size: calc(3vmin);
color : black;  
}
a:link, a:hover, a:focus, a:active, a:visited {
text-decoration: none;
color: white;
}

#link_in_p {
text-decoration: none;
color: blue;
}
  
section {
text-align:center;
position : relative;
top:-25%;
}

footer {
height : 6%;
width : 100%;
text-align:center;
display: flex; /* contexte sur le parent */
flex-direction: column; /* direction d'affichage verticale */
justify-content: center; /* alignement vertical */
background:#ccc;
bottom:0;
}




