html, body, table, td {
height : 100%;
width : 100%;
margin : 0;
padding : 0;
background-color : snow;
color : black;
}

header {
height : 8%;
width : 100%;
background-color : black;
text-align:center;
display: flex; /* contexte sur le parent */
flex-direction: column; /* direction d'affichage verticale */
justify-content: center; /* alignement vertical */
position: sticky;
z-index: 5;
top:0px;
}

#head {

font-size: 2.5vw;

display: inline;
list-style-type:none;
color: white;
}

#right {

max-width: 2.5vw;
	height: auto;
display: inline;
list-style-type:none;
color: white;
text-align: right;
position: absolute;
right: 5%;
}


#arriere {
position: static;
height : 80%;
width : 100%;
}

#arriere_2 {
text-align: center;
position: static;
height : 50%;
width : 50%;

}

#devant {
position : relative;
top:-70%;
text-align:center;
font-size: 25px;
color : black;
}

h1{
font-size: 20px;
color : black;  
}
a:link, a:hover, a:focus, a:active, a:visited {
text-decoration: none;
color: white;
}

#link_in_p {
text-decoration: none;
color: blue;
}
  
section {
text-align:center;
position : relative;
top:-23%;
}

footer {
height : 6%;
width : 100%;
text-align:center;
display: flex; /* contexte sur le parent */
flex-direction: column; /* direction d'affichage verticale */
justify-content: center; /* alignement vertical */
background:#ccc;
bottom:0;
}




